 a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
 }

.App {
  text-align: center;

}

.App {
  background-color: white;
  color: #282c34;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  justify-content: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.nav-li {
    padding-bottom: 10px; 
    border-bottom: 3px white solid;
}

.nav-li:hover {
    border-color: grey;
}

.nav-ul {
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Cabin Sketch', cursive;
  font-size: calc(10px + 3vmin);
}
